.form-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  width: 300px;
  box-shadow: 1px 1px 5px #eee;
  margin: 10px;
}

.form-containers h1 {
  font-size: 22px;
  text-align: center;
  margin: 5px 0;
}
